* {
    margin: 0px;
}

#container {
    width: 90%;
    background: red;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    margin-top: 40px;
    width: 100%;
    height: 150px;
    background: lightblue;
    color: #333;
    line-height: 150px;
    text-align: center;
}

aside {
    width: 25%;
    background: lightgray;
    float: left;
    min-height: 700px;
    text-align: center;
    line-height: 700px
}

#articles {
    background-color: aquamarine;
    width: 75%;
    min-height: 75%;
    float: left;
}

#articles article {
    width: 25%;
    height: 150px;
    background: green;
    color: white;
    line-height: 150px;
    text-align: center;
    border: 2px solid white;
    float: left;
    margin: 15px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Estilos responsivos */
/* Desde 504px hasta 604px aplica este formato */
@media screen and (min-width: 504px) and( max-width: 604px) {
    #articles article {
        width: 40%;
        background: goldenrod;
    }
}

/* Desde 0px hasta 503px aplica este formato */
@media screen and ( max-width: 503px) {
    #articles article {
        width: 90%;
        background: rebeccapurple;
    }
}

/* * Diseño móvil */
@media screen and (min-width: 321px) and (max-width: 480px) {
    aside {
        float: none;
        min-height: auto;
        line-height: 20px;
        width: 90%;
        padding: 20px;
    }

    #container {
        overflow: hidden;
    }

    #articles {
        width: 100%;
    }

    #articles article {
        margin: 5%;
    }
}


/* Se aplica cuando el ancho está entre 768px y 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Estilos para tablets */
}

/* Se aplica cuando la orientación es horizontal o el ancho es mayor a 1200px */
@media (orientation: landscape), (min-width: 1200px) {
  /* Estilos para pantallas amplias */
}